html {
    margin: 0 auto;
    padding: 0;
    background-color: blue;
    background-image: url(../img/Space_Background.jpg);
    background-repeat: no-repeat;
    background-size: 2000px 1000px;
}
body {
    font: 100% Arial, Helvetica, sans-serif;
    width: 70%;
    margin: 0 auto;
    margin-top: 10px;
    padding-top: 30px;
    padding-bottom: 100px;
    background: #ebe2e2;
    border-radius: 10px;
    border-top: 5px solid blue;
    border-bottom: 5px solid blue;
}
h1, h3, h4, h5, h6 {
    margin-left: 20px;
}
h2 {
    margin-left: 20px;
    background-image: url(../img/Space.jpeg);
    background-repeat: none;
    border-radius: 10px;
    color: #ffffff;
    width: 420px;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
}
button {
    margin-left: 20px;
    margin-bottom: 10px;
    background-color: royalblue;
    border: 3px solid royalblue;
    border-radius: 70px;
    width: 160px;
    text-align: center;
}
a {
    text-decoration: none; 
    color: #ffffff;
}
p {
    margin-left: 30px;
    margin-top: 10px;
    font-size: 20px;
}
fieldset {
    display: inline;
    margin-left: 10px;
}
.one {
    margin-left: 20px;
}
.one input {
    margin-left: 43px;
}
.two {
    margin-top: 10px;
    margin-left: 20px;
}
.two input {
    margin-left: 45px;
}
.three {
    margin-top: 10px;
    margin-left: 20px;
}
.button {
    margin-left: 20px;
    margin-bottom: 10px;
    color: #ffffff;
    background-color: crimson;
    border: 3px solid crimson;
    border-radius: 70px;
    width: 160px;
    text-align: center;
}
textarea {
    margin-left: 20px;
}
button[type=submit]{
    margin-left: 200px;
    margin-top: 10px;
    color: #FFFFFF;
}
div {
    margin-left: 20px;
}
.banner {
    background-image: url(../img/space_memes_018.jpg);
    background-repeat:no-repeat;
    background-size: contain;
    height: 300px;
    width: 300px;
}