html {
    margin: 0 auto;
    padding: 0;
    background-color: blue;
    background-image: url(../img/Space_background.jpg);
}
body {
    font: 100% Arial, Helvetica, sans-serif;
    width: 70%;
    margin: 0 auto;
    padding-top: 30px;
    padding-bottom: 30px;
    background: #ebe2e2;
    border-radius: 10px;
    border-top: 5px solid blue;
    border-bottom: 5px solid blue;
}
h1, h2, h3, h4, h5, h6 {
    margin-left: 20px;
}
p {
    margin-left: 20px;
}
fieldset {
    display: inline;
}
.two {
    margin-top: 10px;
}
.three {
    margin-top: 10px;
}
input[type=text] {
    margin-left: 20px;
}
textarea {
    margin-left: 20px;
}
button[type=submit]{
    margin-left: 200px;
    margin-top: 10px;
}
div {
    margin-left: 20px;
}