html {
    margin: 0 auto;
    padding: 0;
    background-image: url(../img/Space_Background.jpg);
    background-size: cover;
}
body {
    font: 100% Arial, Helvetica, sans-serif;
    width: 80%;
    margin: auto;
    margin-top: 10px;
    margin-bottom: 10px;
    background: #ebe2e2;
    border-radius: 10px;
    border-top: 5px solid royalblue;
    border-bottom: 5px solid royalblue;
    border-left: 2px solid royalblue;
    border-right: 2px solid royalblue;
    opacity: 0.8;
}
h1, h3, h4, h5, h6 {
    text-align: center;
    color: royalblue;
}
h2 {
    background-image: url(../img/Space.jpeg);
    background-size: 1000px 200px;
    border-radius: 10px;
    padding: 10px;
    color: #ffffff;
}
.meme-box h2 {
    background-size: 800px;
}
li {
    margin-right: 30px;
    background-color: royalblue;
    border: 3px solid royalblue;
    border-radius: 70px;
    width: 160px;
    height: 30px;
    text-align: center;
}
.message {
    margin-right: 30px;
    background-color: royalblue;
    border: 3px solid royalblue;
    border-radius: 70px;
    width: 200px;
    height: 30px;
    text-align: center;
}
li:hover{
    cursor: pointer;
    transition-duration: 0.5s;
    border-radius: 10px;
    -webkit-transform: scale(1.2);
    -ms-transform: scale(1.2);
    transform: scale(1.2);
}
button {
    color: white;
    background-color: royalblue;
    border: 3px solid royalblue;
    border-radius: 70px;
    width: 160px;
    height: 30px;
    text-align: center;
}
button:hover{
    cursor: pointer;
    transition-duration: 0.5s;
    border-radius: 10px;
    -webkit-transform: scale(1.2);
    -ms-transform: scale(1.2);
    transform: scale(1.2);
}
a {
    text-decoration: none; 
    color: #ffffff;
}
p {
    font-size: 20px;
}
fieldset {
    display: inline;
    margin-left: 10px;
}
form {
    position: relative;
    border-radius: 10px;
    display: inline-block;
    max-width: 700px;
    box-sizing: border-box;
    padding: 30px 25px;
    background-color: white;
    margin: 40px 0;
}
form h2 {
    font-weight: 100;
    letter-spacing: 0.01em;
    margin-bottom: 35px;
    text-transform: uppercase;
}
form input[type="text"], form input[type="password"], form input[type="url"] {
    appearance: none;
    background-color: none;
    border: 1px solid royalblue;
    line-height: 0;
    font-size: 17px;
    width: 100%;
    display: block;
    box-sizing: border-box;
    padding: 10px 15px;
    border-radius: 10px;
    color: royalblue;
    font-weight: 100;
    letter-spacing: 0.01em;
    position: relative;
    z-index: 1;
    margin-bottom: 10px;
}
form input[type=submit] {
    margin-top: 10px;
    margin-left: 20px;
    color: #ffffff;
    background-color: royalblue;
    border: 3px solid royalblue;
    border-radius: 70px;
    width: 160px;
    height: 30px;
    text-align: center;
}
form input[type=submit]:hover {
    transition-duration: 0.5s;
    border-radius: 10px;
    -webkit-transform: scale(1.2);
    -ms-transform: scale(1.2);
    transform: scale(1.2);
}
.one {
    margin-left: 20px;
}
.one input {
    margin-left: 43px;
}
.two {
    margin-top: 10px;
    margin-left: 20px;
}
.two input {
    margin-left: 45px;
}
.three {
    margin-top: 10px;
    margin-left: 20px;
}
.button {
    margin-left: 20px;
    margin-bottom: 10px;
    color: #ffffff;
    background-color: royalblue;
    border: 3px solid royalblue;
    border-radius: 70px;
    width: 160px;
    height: 30px;
    text-align: center;
}
.button:hover{
    cursor: pointer;
    transition-duration: 0.5s;
    background-color: crimson;
    border: 3px solid crimson;
    border-radius: 10px;
    -webkit-transform: scale(1.2);
    -ms-transform: scale(1.2);
    transform: scale(1.2);
}
textarea {
    width: 100%;
    height: 200px;
    background-color: #ffffff;
    resize: none;
}
fieldset button[type=submit]{
    margin-left: 200px;
    margin-top: 10px;
    color: #FFFFFF;
}
.navcontainer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 100px;
    background-color: white;
    margin-left: 0px;
    padding: 15px;
}
.navcontainer img {
    height: 100%;
}
.maincontainer {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0px;
    min-height: 100%;
}
.signup-form {
    width: 40%;
    margin-top: 20px;
    margin-bottom: 20px;
}
.signup-form form {
    display: flex;
    flex-direction: column;
}
.signup-form form button {
    margin-top: 20px;
}
.signup-form h2 {
    width: 100%;
    margin: 0px;
    margin-bottom: 20px;
    padding: 0px;
    padding-top: 10px;
    padding-bottom: 10px;
}
.login-form {
    width: 40%;
    margin-top: 20px;
    margin-bottom: 20px;
}
.login-form form {
    display: flex;
    flex-direction: column;
}
.login-form form button {
    margin-top: 20px;
}
.login-form h2 {
    width: 100%;
    margin: 0px;
    margin-bottom: 20px;
    padding: 0px;
    padding-top: 10px;
    padding-bottom: 10px;
}
ul {
    list-style-type: none;
    display: flex;
    flex-direction: row;
    align-items: center;
}
ul li a {
    color: #ffffff;
    font-size: larger;
    padding: 15px;
}
footer {
    background-color: royalblue;
    text-align: center;
    width: 100%;
}
footer p {
    font-size: 12px;
    padding: 2px;
    margin: 0px;
    max-width: unset;
    color: white;
}
iframe {
    width: 853px;
    height: 505px;
    margin: 10px;
}
.usergreet {
    width: 100%;
    background-color: royalblue;
    margin: 0px;
}
.usergreet p {
    color: white;
}
.messageform {
    width: 40%;
    margin-top: 20px;
    margin-bottom: 20px;
}
.messageform textarea {
    margin-bottom: 20px;
}
.messageform form {
    width: 100%;
}
.edit-box {
    width: 40%;
    margin-top: 20px;
    margin-bottom: 20px;
}
.comment-edit-form {
    margin: 0px;
    padding: 0px;
    position: absolute;
    top: 34px;
    right: 120px;
}
.comment-edit-form button {
    width: 60px;
    height: 20px;
    color: black;
    background-color: white;
    opacity: 0.7;
    border: none;
    margin-top: 0px;
}
.comment-edit-form button:hover {
    opacity: 1;
}
.comment-delete-form {
    position: absolute;
    margin: 0px;
    padding: 0px;
    top: 34px;
    right: 40px;
}
.comment-delete-form button {
    width: 60px;
    height: 20px;
    color: black;
    background-color: white;
    opacity: 0.7;
    border: none;
    margin-top: 0px;
}
.comment-reply-form {
    position: absolute;
    padding: 0px;
    margin: 0px;
    top: 34px;
    right: 40px;
}
.comment-reply-form button {
    width: 60px;
    height: 20px;
    color: black;
    background-color: white;
    opacity: 0.7;
    border: none;
    margin-top: 0px;
}
.commentmessage {
    color: red;
    float: right;
    position: absolute;
    top: 20px;
    right: 20px;
}
.comment-box {
    width: 95%;
    padding: 20px;
    margin: 10px;
    border-radius: 10px;
    background-color: white;
    text-align: left;
    position: relative;
}
.comment-box .likes-box {
    position: absolute;
    right: 40px;
    bottom: 30px;
}
.comment-box .likes-box p {
    margin: 0px;
}
.comment-box p {
    margin: 0px;
    margin-bottom: 20px;
    text-align: left;
}
.comment-box h2 {
    text-align: center;
    width: 30%;
    padding: 10px;
    margin: 0px;
    background-size: 1400px 300px;
}
.comment-box h4 {
    text-align: left;
    width: 100%;
    padding: 0px;
    margin-top: 20px;
    margin-bottom: 20px;
}
.comment-box button {
    margin: 0px;
}
.comment-vote-form {
    display: absolute;
    margin: 0px;
    padding: 0px;
}
.comment-vote-form button {
    width: 40px;
    height: 40px;
    background-color: unset;
    border: unset;
    border-radius: unset;
}
.comment-vote-form i {
    color: royalblue;
}
.meme-box {
    padding: 20px;
    margin: 10px;
    background-color: white;
    border-radius: 10px;
    text-align: left;
    position: relative;
}
.meme-box .likes-box {
    position: absolute;
    right: 30px;
    bottom: 20px;
}
.meme-box .delete-form {
    position: absolute;
    padding: 0px;
    margin: 0px;
    top: 30px;
    right: 30px;
}
.meme-box h2 {
    text-align: center;
    width: 55%;
    margin: 0px;
    margin-bottom: 20px;
}
.meme-box p {
    margin: 0px;
    padding: 0px;
}
.meme-box h4 {
    text-align: left;
    margin: 0px;
}
.meme-box img {
    margin-bottom: 40px;
    margin-top: 20px;
    border-radius: 4px;
    width: 100%;
    opacity: 1;
}
.memeview {
    display: grid;
    grid-template-columns: auto auto auto;
}
.memes-form {
    width: 40%;
    margin-top: 20px;
    margin-bottom: 20px;
}
.memes-form form {
    display: flex;
    flex-direction: column;
    width: 100%;
}
.memes-form input[type="url"] {
    margin-bottom: 20px;
}
.edit-form {
    margin: 0px;
    padding: 0px;
    position: absolute;
    top: 34px;
    right: 120px;
}
.edit-form button {
    width: 60px;
    height: 20px;
    color: black;
    background-color: white;
    opacity: 0.7;
    border: none;
    margin-top: 0px;
}
.edit-form button:hover {
    opacity: 1;
}
.delete-form button {
    width: 60px;
    height: 20px;
    color: black;
    background-color: white;
    opacity: 0.7;
    border: none;
    margin-top: 0px;
}
.delete-form button:hover {
    opacity: 1;
}
.vote-form {
    position: absolute;
    margin: 0px;
    padding: 0px;
    left: 30px;
    bottom: 20px;
}
.vote-form button {
    width: 30px;
    height: 30px;
    background-color: unset;
    border: unset;
    border-radius: unset;
    margin-left: 0px;
}
.vote-form i {
    color: royalblue;
}
.red i:hover{
    cursor: pointer;
    transition-duration: 0.5s;
    color: red;
    -webkit-transform: scale(1.2);
    -ms-transform: scale(1.2);
    transform: scale(1.2);
}
#clickableAwesomeFont {
    cursor: pointer
}